/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #000306;
    --color01: #6b9ed4;
    --color02: #b3e3f3;
    --color03: #50c4ef;
    --color04: #93b8de;
    --color05: #99b7d2;
    --color06: #7ac9ec;
    --color07: #d4e3f0;
    --color08: #1e4157;
    --color09: #b2cfed;
    --color10: #ffffff;
    --color11: #a5e3fb;
    --color12: #dbe8f5;
    --color13: #dae6f0;
    --color14: #ccecfa;
    --color15: #ffffff;
}
